openai 
langchain
langchain-community 
sentence_transformers
unstructured
unstructured[xlsx]
unstructured[docx]
unstructured[pptx]
pydantic
typing-inspect
typing_extensions
chromadb
unstructured[pdf]
